<p> Booking start date: <%= @booking.start_date %></p>
<p> Booking end date: <%= @booking.end_date %></p>
<p> Customer: <%= @booking.customer_id %></p>
<p> Plant Sitter: <%= @booking.plant_sitter_id %></p>
<p> Status: <%= @booking.status %></p>
<a href="/users">Go back to Plantsitters</a>
