
<%= cl_image_tag(User.find(@booking.plant_sitter_id).photo.key,
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
<p>Booking start date: <%= @booking.start_date %></p>
<p>Booking end date: <%= @booking.end_date %></p>
<p>Customer: <%= "#{User.find(@booking.customer_id).first_name} #{User.find(@booking.customer_id).last_name}" %></p>
<p>Plant Sitter: <%= "#{User.find(@booking.plant_sitter_id).first_name} #{User.find(@booking.plant_sitter_id).last_name}" %></p>
<p>Price: $<%=User.find(@booking.plant_sitter_id).price %></p>

<% if @booking.status == true %>
  <p>Approved</p>
<% elsif @booking.status == false %>
  <p>Rejected</p>
<% else %>
  <p>Pending</p>
<% end %>

<p><%= link_to "Go back to Bookings", bookings_path %></p>
